@page "/manageuser/{UserId}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using System.ComponentModel.DataAnnotations

@attribute [Authorize(Policy = "Admin")]

@rendermode InteractiveServer

@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager

<h3>Manage User</h3>
<br />
@if (viewModel != null)
{
    <EditForm Model="viewModel" OnValidSubmit="SaveUser">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" class="form-control" readonly value="@viewModel.Email">
        </div>
        <br />

        <div class="form-group">
            <label for="dp">Department</label>
            <select @bind="viewModel.Department" class="form-control">
                <option></option>
                <option value="Administration">Admin</option>
                <option value="Sales">Sales</option>
            </select>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>

    </EditForm>
}

