@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity

@* @inject IServiceProvider ServiceProvider *@
@* <h3>LoginComponent</h3> *@


<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <a href="/identity/account/manage">Profile</a>
        <a href="/identity/account/logout">Sign out</a>
        @* <a >Sign out</a> *@
    </Authorized>
    <NotAuthorized>
        @* <a href="/identity/account/register">Register</a> *@
        <a href="/identity/account/login">Sign in</a>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

@code {

}
