@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IMS.WebApp</a>
    </div>
</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color:gray; height:contain">
    <nav class="flex-column" >

        <div class="nav-image px-3">
            <a href="/">
                <img src="images/logo.png" alt="Logo" style="height: 210px; display: block; margin: 0 auto; padding-bottom:10px; ">
            </a>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="identity/account/register">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register Branch
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Products
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="branchproduct">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Products 2 Branch
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@GetCartUrl()">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Branch Products
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@GetSellPageUrl()">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Branch POS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bpreport_2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Branch-Products Report
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productreport">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sales Report
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageusers">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Branch Authorization
            </NavLink>      
        </div>



    </nav>
</div>

@code {

    private string UserId;


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        UserId = authState.User.FindFirstValue(ClaimTypes.NameIdentifier);
    }

    private string GetCartUrl()
    {
        if (string.IsNullOrEmpty(UserId))
        {
            return "#";
        }
        return $"/usercart/{UserId}";
    }

    private string GetSellPageUrl()
    {
        if (string.IsNullOrEmpty(UserId))
        {
            return "#";
        }
        return $"/sellpage/{UserId}";
    }
}








@* A D D I N G    S T Y L E S *@

<style>
    .nav-item{
        color:white;
    }
</style>
