@page "/contact"


<div class="row p-4">

        <div class="col-md-6 ">
            <h2>Emagency Contact</h2>
            <div class="box"></div>

            <div class="paragraph">
                <p>If you have any questions, inquiries, or feedback, please feel free to get in touch with us using the contact information below:</p>
                <p><strong>Email:</strong> info@example.com</p>
                <p><strong>Phone:</strong> +1 (123) 456-7890</p>
                <p><strong>Address:</strong> 123 Bakery Street, Cityville, State, Country</p>
            </div>
            <div class="box"></div>
            
            
            <div class="box"></div>
        </div>
        <div class="col-md-6">

            <div class="textst">
                <h3 style="font-weight:500"> <b>Submit an Inquary</b></h3>
                <div class="contact-us-container">
                    <form id="contact-form">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email" required>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject:</label>
                            <input class="form-control" type="text" name="subject" id="subject" placeholder="Enter subject" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" name="message" id="message" rows="5" placeholder="Enter your message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>

            </div>



        </div>

    

    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet">

    <style>
        .textst {
            font-family: 'Exo 2', sans-serif;
        }
    </style>

    <style>

        .btn {
            margin-top: 10px;
            border-radius: 5px;
        }
    </style>


        
    </div>


<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto&display=swap" rel="stylesheet">

